.cover-section {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;

    .main-text {

        .first-name {
            position: absolute;
            left: 20%;
            top: 20%;
            margin: 0;
            font-size: 12vw;
            color: white;
            font-weight: bold;
        }

        .last-name {
            position: absolute;
            left: 32%;
            top: 42%;
            margin: 0;
            font-size: 12vw;
            text-align: center;
            color: white;
            font-weight: bold;
        }

        .description {
            position: absolute;
            left: 17%;
            top: 70%;
            font-size: 2.5vw;
            color: white;
        }
    }

    .profile-pic {
        .photo {
            position: absolute;
            left: 60%;
            top: 30vh;
            width: 21vw;
            height: 21vw;
            border-radius: 50%;
            border: 2px solid white;
        }
    }
}