.about-section {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 100vh;
    font-family: 'Archivo', sans-serif;

    .header {
        margin: 0;
        position: absolute;
        left: 6%;
        top: 40%;
        width: 30vw;
        height: 20%;
        text-align: center;
        font-size: 8vw;
        color: white;
        font-weight: bold;
    }

    .bio-description {
        position: absolute;
        right: 6%;
        top: 10%;
        width: 50%;
        height: 30%;
        font-size: 3vh;
        text-align: center;
        color: white;
    }

    .contact {
        position: absolute;
        right: 6%;
        top: 40%;
        width: 50%;
        height: 50%;

        .skills-header {
            position: absolute;
            left: 50%;
            -webkit-transform: translate(-50%, 0);
            font-size: 8vh;
            color: white;
        }

        img {
            position: absolute;
            border: none;
            width: 12%;
            height: 30%;
        }

        .skills-1 {
            left: 16%;
            top: 25%;
        }

        .skills-2 {
            left: 44%;
            top: 25%;
        }

        .skills-3 {
            left: 72%;
            top: 25%;
        }

        .skills-4 {
            left: 16%;
            top: 65%;
        }

        .skills-5 {
            left: 44%;
            top: 65%;
        }

        .skills-6 {
            left: 72%;
            top: 65%;
        }
    }
}